*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: transform 0.2s ease;
}

body{
    color: rgb(35, 35, 35);
    background-color: rgb(116, 114, 114);
}

.articulo{
    background-color: rgb(255, 255, 255);
    width: 160px;
    height: 360px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
}

.fondo{
    background-color: brown;
    height: 120px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    display: block;
}

.fondo2{
    background-color: rgb(165, 147, 42);
    height: 120px;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.precio_final img{
    position: relative;
    display: inline-block;
    left: 50px;
}

#corazon{
    position: relative;
    top: 5px;
    left: 133px;
}

#corazon:hover{
    position: relative;
    transform: scale(1.1);
}

#art{
    width: 100%;
    text-align: center;
    padding-left: -9px;
}

#art:hover{
    transform: scale(1.1);
}

.textos{
    margin-top: 40px;
    text-align: center;
    font-family: "Boldonse", system-ui; 
}

.precio_final{
    box-sizing: border-box;
    width: 160px;
    padding: 0 10px;
    position: relative;
}

div p:nth-child(2){
    margin-top: 15px;
    color: rgb(145, 145, 145);
    font-size: x-small;
}

div p:nth-child(3){
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    text-align: start;
    margin: 10px;
    font-weight: 100;
    font-size: xx-small;
}

.precio_final p:nth-child(1){
    color: rgb(0, 0, 0);
    font-weight: bold;
    position: absolute;
    left: 5px;
    margin: 0 20px 0 10px;
    display: inline-block;
}

/* Parque de la ballena */

h1{
    text-align: center;
    font-size: 2.75rem;
}
header img{
    width: 100%;
}

.parque{
    background-color:rgb(250, 244, 235);
    text-align: center;
    position: relative;
    font-family: roboto;
    line-height: 1.8;
    text-align: center;
}

.parque navbar{
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0px;
    width: 100%;
    display: block;
    padding: 10px ;
    background-color: rgb(172, 183, 248);
    z-index: 3;
}

navbar img{
    width: 60px;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    left: -10px;
}

.parque h3{
    position: relative;
    top: 20px;
    display: block;
    text-align: center;
}

.parque ul li{
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    color: azure;
    text-transform: uppercase;

}

.parque main{
    position: relative;
    background-color: rgb(250, 244, 235);
    top: -96px;
    width: 70%;
    margin: 0 auto;
    padding: 30px 60px;
}

.areas{
    margin-top: 20px;
}

.areas img{
    width: 100%;
}

.areas h2{
    font-size: 1.75rem;
}

/* .ballet-<uniquifier> {
    font-family: "Ballet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 
    
.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}
*/